@charset "utf-8";

header.container p {
color: rgb(255, 255, 255);
font-size: 40px;
}
pre.dn{
	color: rgb(255, 255, 255);
	text-align: right;
}
img.im{
	width: 38px;
	height: 33px;
}
img.h5{
	width: 300px;
	height: 230px;
}
img.h{
    height: 259px;
    width: 170px;
    font-size: 15px;
    line-height: 1.5;
    vertical-align: middle;
    border-style: none;
}
a.download{
    background-color: rgb(189, 91, 0);
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.travel{
    width: 101px;
    height: 32px;
    left: 10px;
    top: 8px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 51px;
}
input.tlS{
    padding-top: 20px;
}
@keyframes Japan {
    100% {background-color: coral;}
}
#Japan{
    padding: 10px 15px;
    color: white;
    background-color: coral;
    animation: topflat 3s infinite alternate;
    -webkit-animation: topflat 3s infinite alternate;
}
@keyframes Japan1 {
    100% {background-color: rgb(156, 152, 151);}
}
#Japan1{
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(156, 152, 151);
    animation: topflat 3s infinite alternate;
    -webkit-animation: topflat 3s infinite alternate;
}

@keyframes Ja {
    100% {background-color: coral;}
}
#Ja {
    text-align: right;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    background-color: coral;
    animation: topflat 3s infinite alternate;
    -webkit-animation: topflat 3s infinite alternate;
}
