@charset "utf-8";
img.h{
    height: 259px;
    width: 170px;
    font-size: 15px;
    line-height: 1.5;
    vertical-align: middle;
    border-style: none;
}
a.download{
    background-color: rgb(189, 91, 0);
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}